<div class="animation-creator-body">
    <div class="animation-creator-main-axis" id="{{ mainAxis }}"></div>
    <div class="animation-creator-tool-kit" id="{{ toolKit }}"> toolKit </div>
</div>

<div id="test"></div>
<div id="testhelper"></div>


<div id="{{ loadIcon }}"></div>
<style id="{{ styleSheet }}"></style>
<style id="{{ styleSheetHelper }}"></style>

<button id="{{ generateCSS }}" class="animation-creator-button">Generate CSS</button>
