<div class="animation-creator-body">
    <div class="animation-creator-main-axes" id="{{ mainAxes }}"></div>
    <div class="animation-creator-tools" id="{{ tools }}"></div>
</div>

<!-- DEPRECATED 
<div id="{{ queryElement }}"></div>
-->

<div id="{{ loadIcon }}"></div>
<style id="{{ styleSheet }}"></style>
<style id="{{ styleSheetHelper }}"></style>
