<div class="animation-creator-header-left" id="{{ headerLeft }}"><div>
<div class="animation-creator-header-center" id="{{ headerCenter }}"><div>
<div class="animation-creator-header-right" id="{{ headerRight }}"><div>

<div class="animation-creator-main-axis" id="{{ mainAxis }}"></div>
<div class="animation-creator-tool-kit" id="{{ toolKit }}"></div>

<div class="animation-creator-foter-left" id="{{ foterLeft }}"><div>
<div class="animation-creator-foter-left" id="{{ foterCenter }}"><div>
<div class="animation-creator-foter-left" id="{{ foterRight }}"><div>



<div id="test"></div>
<div id="testhelper"></div>
<div class="clear"></div>

<style id="{{ styleSheet }}"></style>
<style id="{{ styleSheetHelper }}"></style>
